/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-spacer {
    flex: 1 1 auto;
  }

  .ag-header-cell-label {
    justify-content: center;
 }

 .rounded-image{
  border-radius: 50%;
}

.ag-theme-alpine, .ag-theme-alpine-dark {
  --ag-alpine-active-color: transparent;
}


  